# This is a full comment line

foo = bar  # This is a partial commment line, following a configuration value

# This is a multi-line configuration. The value is set as an array of values
fruit = apples, \
				grapes, \
				pears
				
# This multi-line configuration setting starts with a line break instead of
# a value!  Snazzy.
trees = \
				pine, \
				spruce, \
				maple
				
# Some of the new DSpace configuration values contain '=' characters. Not 
# really sure why, but let's support them anyway.
dudes = \
			pete = cool, \
			bob = not cool, \
			mike = cool